
content/20_puppy_vision/20_dataset/.DS_Store
content/20_puppy_vision/.DS_Store
content/.DS_Store
static/viewer/node_modules/*
static/.DS_Store
static/cloudformation/.DS_Store
.DS_Store
static/viewer/src/node_modules/*
.DS_Store
content/.DS_Store
